Miton_Recipe_Agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Získej recepty, co má uživatel rád.",
        "memoryKey": {
          "__rl": true,
          "value": "recipes",
          "mode": "list",
          "cachedResultName": "recipes"
        },
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -740,
        -200
      ],
      "id": "bf01ebca-91e8-44b6-ab86-6ceb48fda465",
      "name": "oblibene_recepty"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jsi AI agent v n8n.\n\nÚkol:\n1. Náhodně vyber jednu kuchyni ze seznamu: {{ $json.preferovaneKuchyne }}.\n2. Vytvoř recept na oběd.\n3. Vyluč všechny suroviny uvedené v seznamu: {{ $json.alergie }}.\n4. Používej pouze metrické jednotky (gramy) a uveď přesné množství u každé suroviny.\n5. Pokud jsou dostupné informace z vector store \"oblibene_recepty\", zohledni je.\n6. Výstup dej jako Markdown text.\n7. Výstup bude obsahovat pouze recept, žádné další vysvětlování.\n8. Neopakuj recepty. Zkoušej nové ale zavedené.\n\nPříklad výstupu:\n\n*Kuchyně:* italská\n\n*Název:* Spaghetti Carbonara\n\n*Ingredience:*\n100 g špaget\n80 g slaniny\n2 vejce (100 g)\n50 g parmezánu\n10 g olivového oleje\n2 g černého pepře\n3 g soli\n\n*Postup:*\n1. Uvař špagety ve slané vodě podle návodu na obalu.\n2. Na pánvi osmahni nakrájenou slaninu dozlatova.\n3. V misce rozšlehej vejce s parmezánem a pepřem.\n4. Uvařené špagety vmíchej do vaječné směsi a přidej slaninu.\n5. Rychle promíchej a ihned podávej.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -940,
        -420
      ],
      "id": "35129fc6-f70b-440f-a1ce-1682387eaae7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -660,
        20
      ],
      "id": "8f9549ce-e1af-4a00-ac3b-a9e4926df413",
      "name": "embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "VFtD7YnCNOrif4xB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('poslouchat_stisk_tlacitka').item.json.callback_query.message.chat.id }}",
        "text": "=🍽️ *Váš recept ze dne {{ $now.format('dd-MM-yyyy') }}*\n\n{{ $json.output }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "👍 Líbilo",
                    "additionalFields": {
                      "callback_data": "libilo"
                    }
                  },
                  {
                    "text": "Nový recept",
                    "additionalFields": {
                      "callback_data": "novy_recept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d0d0b737-aded-4da6-8f76-99d3ee1cde0a",
      "name": "odeslat_zpravu_telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -360,
        -220
      ],
      "webhookId": "c0074305-ccb7-4e3f-a2d0-68523179f3ec",
      "credentials": {
        "telegramApi": {
          "id": "pUKC7YC9vss0Fu3D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1600,
        40
      ],
      "id": "4efdc5f8-02a5-4e28-b221-2c4bf2ddd563",
      "name": "poslouchat_stisk_tlacitka",
      "webhookId": "f90a2d4d-07ef-4b9f-ac0b-2f04877effc3",
      "credentials": {
        "telegramApi": {
          "id": "pUKC7YC9vss0Fu3D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "novy_recept",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3c7ae7b-47be-4d73-a5f5-63b79a3f2f12"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "novy_recept"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41600653-842c-4afd-bab7-af3a95cd1eeb",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "libilo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "libilo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1380,
        40
      ],
      "id": "dee9d01b-f107-462a-be5c-b350bd65bb1f",
      "name": "rozcesti"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eddf92db-0b0e-45d6-bff3-959422e6d928",
              "name": "text",
              "value": "={{ $json.callback_query.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        240
      ],
      "id": "fd2359aa-494e-4cd3-b14d-22e5dbfb2c9d",
      "name": "jen_recept"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "recipes",
          "mode": "list",
          "cachedResultName": "recipes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -820,
        240
      ],
      "id": "ac62c341-2bdf-4a2d-9322-46c2085f6688",
      "name": "oblibene_recepty_pridani"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -680,
        460
      ],
      "id": "222449d0-d815-4372-83d5-605182dccafe",
      "name": "nacitani_dat"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        460
      ],
      "id": "257c84f0-7bd6-4a10-a686-a60070ebaefa",
      "name": "embeddings1",
      "credentials": {
        "googlePalmApi": {
          "id": "VFtD7YnCNOrif4xB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -980,
        -200
      ],
      "id": "9f700bbc-b93b-4a6c-93aa-961447902fd7",
      "name": "ai_model",
      "credentials": {
        "groqApi": {
          "id": "FPq6u61OmCOhMGVh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Zde začíná akce\nZde posloucháme stisk tlačítek \"Líbilo\" a \"Nový recept\" a poté se rozhodujeme co dále.\n- V případě \"Nový recept\" jdeme nahoru a získáváme novou zprávu s receptem od agenta\n- V případě \"Líbilo\" jdeme dolu a ukládáme recept v databázi oblíbených receptů",
        "height": 340,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1780,
        -140
      ],
      "typeVersion": 1,
      "id": "a54a28a4-e42f-4e6c-aae0-bd466858d0a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Zde můžete změnit preference kuchyní a alergií",
        "width": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -280
      ],
      "typeVersion": 1,
      "id": "c56a35e0-9cc0-4801-89ba-300e8d1be42b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Toto je váš AI Agent. AI Agent má 3 součásti\n- (Povinné) Chat Model: Mozek agenta, velký jazykový model (LLM). Ten to celé řídí.\n- (nepovinné) Memory: Agentovi můžete přidat paměť, aby si pamatoval informace z vašich předchozích chatů. Nebo v našem případě, jsme agentovi řekli, ať neopakuje recepty, což je možné díky této paměti.\n- (nepovinné) Tool: Nástrojů můžete připojit několik, ať už je to vyhledávání na internetu, přístup k posílání a emailů, nebo zapisování a čtení dokumentů. V našem případě je to přístup do chytré vektorové databáze obsahující oblíbené recepty.\n",
        "height": 760,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        -640
      ],
      "typeVersion": 1,
      "id": "ae70a2b3-7462-4a77-a1c6-11442eed1285",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Tady odesíláte výstup z agenta do Telegramového chatu",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        -300
      ],
      "typeVersion": 1,
      "id": "5cc2d0c6-b7b6-43a5-8b57-827da6846786",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nZde vyndáme z informací z telegramu jen text receptu",
        "height": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1300,
        240
      ],
      "typeVersion": 1,
      "id": "0349d6f1-0e01-46a4-85d4-14d01db9a981",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Zde se ukládá oblíbený recept, aby jej agent mohl vyhledat v oblibene_recepty",
        "height": 420,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        160
      ],
      "typeVersion": 1,
      "id": "81180b2a-9ac6-4575-afbd-563fde504c7a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Úvod chatu\nTento blok je potřeba spustit jednou na začátku a poté už není potřeba.\n**Zde musíte přídat _chat.id_ získané během nastavování Telegram bota**\n",
        "height": 300,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1760,
        -600
      ],
      "typeVersion": 1,
      "id": "c9ecacc6-c262-4705-a84c-d250530d87c8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "text": "=👨‍🍳 Vítej u svého osobního kuchařského asistenta!\nJsem tu, abych ti pomohl s vařením na míru.\n\n🍽️ Nový recept\nToužíš po inspiraci? Klikni na „Nový recept“ a připravím něco podle tvého vkusu.\n\n👍 Líbilo se mi\nPokud ti nějaký recept chutnal, klikni na „Líbilo“ pod ním. Pomůže mi to trefit se příště ještě lépe.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Nový recept",
                    "additionalFields": {
                      "callback_data": "novy_recept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8a4867dc-ebe7-477a-b9ae-64efe5c597e7",
      "name": "uvodni_zprava",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1700,
        -460
      ],
      "webhookId": "c0074305-ccb7-4e3f-a2d0-68523179f3ec",
      "credentials": {
        "telegramApi": {
          "id": "pUKC7YC9vss0Fu3D",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "002b6ea4-7471-4264-aba2-9c8f7ed86fb1",
              "name": "preferovaneKuchyne",
              "value": "=\"česká, italská\"",
              "type": "string"
            },
            {
              "id": "0a3880fc-7581-4f39-97e1-64fa60a60564",
              "name": "alergie",
              "value": "=buráky",
              "type": "string"
            },
            {
              "id": "b93affd4-b05a-4224-b0b4-f68ce9615ced",
              "name": "=sessionId",
              "value": "={{ $json.callback_query.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a324ae82-9fca-44cf-b950-ded02670cd81",
      "name": "nastaveni_preferenci",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        -220
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -860,
        -200
      ],
      "id": "bd93fd23-9852-4763-b09a-df647f6bac48",
      "name": "pamet"
    }
  ],
  "pinData": {},
  "connections": {
    "oblibene_recepty": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "odeslat_zpravu_telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "embeddings": {
      "ai_embedding": [
        [
          {
            "node": "oblibene_recepty",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "poslouchat_stisk_tlacitka": {
      "main": [
        [
          {
            "node": "rozcesti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rozcesti": {
      "main": [
        [
          {
            "node": "nastaveni_preferenci",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "jen_recept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jen_recept": {
      "main": [
        [
          {
            "node": "oblibene_recepty_pridani",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nacitani_dat": {
      "ai_document": [
        [
          {
            "node": "oblibene_recepty_pridani",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "oblibene_recepty_pridani",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ai_model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "nastaveni_preferenci": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pamet": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4c0f6bf-23eb-4347-95d8-fe3b4c25e4b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da2da4ed9bef6208906d620416fee5b041c6fe3523cc13c53c91b2891ab6d460"
  },
  "id": "zXqO9Ynorqll6zl3",
  "tags": []
}
